[
  {
    rabbit, [
    {load_definitions, "/etc/rabbitmq/definitions.json"},
    {default_vhost,       <<"/">>},
    {default_user,        <<"guest">>},
    {default_pass,        <<"guest">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {default_user_tags, [administrator]},
    {loopback_users, []}
  ]
  }
].